:root{
    --cor-de-fundo: #00030C;
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --botao-azul-efeito: #55a1ff;

    --fonte-principal: 'Inter';
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal{
    background-image: url(imgs/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    display: block;
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
    transition: 250ms;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.botao_secundario:hover{
    background-color: transparent;
    color: var(--botao-azul);
}

.container__aviso{
    color: var(--cinza-secundario);
    font-size: 12px;
}

.secundario{
    align-items: center;
    margin: 0 8em;
}

.secundario__imagem{
    width: 80%;
}

.container__descricao{
    padding: 2em;
}

.descricao__titulo{
    color: var(--branco-principal);
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    color: var(--branco-principal);
    font-size: 48px;
}

.dispostivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item{
    color: var(--branco-principal);
    font-size: 32px;
}

.rodape{
    text-align: center;
    margin: 5em 3em 3em 3em;
}

.rodape__logo{
    margin-bottom: 1em;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    color: var(--branco-principal);
    text-decoration: none;
}

.lista__link a:hover{
    color: var(--botao-azul);
}

.rodape__texto{
    color: var(--cinza-secundario);
    font-size: 14px;
    margin-top: 1.4em;
}

@media screen and (max-width: 1024px){
    .principal{
        background-image: none;
    }

    .container{
        height: 100vh;
        display: grid;
        grid-template-columns: 100%;
    }

    .container__botao{
        width: 100%;
        margin: 0 auto 1rem auto;
    }

    .secundario{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .plataformas{
        margin-bottom: 30rem;
    }

    .descricao__texto{
        margin-bottom: 1.2rem;
    }

    .combo{
        display: flex;
        flex-direction: column;
        margin-top: 10rem;
    }

    .cursos{
        margin-top: 20rem;
        margin-bottom: 10rem;
    }

    .dispositivos{
        width: 100vw;
    }

    .dispositivos__titulo{
        width: 90%;
        margin: 0 auto;
    }

    .dispostivos__lista{
        display: flex;
        flex-direction: column;
    }

    .rodape{
        width: 100%;
        margin: 0 auto 3.5rem auto;   
    }

    .rodape__lista{
        display: flex;
        flex-direction: column;
    }

    .rodape__texto{
        width: 60%;
        margin: 1.5rem auto;
    }
}

@media screen and (max-width: 550px) {    
    .principal{
        margin-top: 3.5rem;
        margin-bottom: 20rem;
    }
    
    .container{
        height: 40vh;
    }
    
    .container__descricao{
        padding-left: 0;
        padding-right: 0;
    }

    .container__imagem{
        width: 100%;
    }

    .container__botao:last-child{
        width: 50%;
    }

    .secundario__imagem{
        width: 100%;
    }

    .descricao__titulo{
        line-height: 1.1;
    }

    .descricao__texto{
        width: 100vw;
    }

    .descricao__texto:nth-child(1){
        width: 90vw;
    }
    
    .cursos{
        margin-bottom: 15rem;
    }

    .rodape__texto{
        width: 90vw;
        line-height: 1.5;
    }
}

@media screen and (max-width: 446px) {
    .principal{
        margin-bottom: 30rem;
    }
    
    .container{
        height: 20vh;
    }

    .plataformas{
        margin-bottom: 15rem;
    }
    
    .cursos{
        margin-top: 15rem;
    }

    .secundario__imagem{
        display: none;
    }

    .descricao__texto{
        width: 90vw;
    }
}

@media screen and (max-width: 360px) {
    .principal{
        margin-bottom: 35rem;
    }
}